body {
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 100%;
    background-image: url('img/black-bg.jpg');
    background-attachment: fixed;
}
body , html {
    height: 100%;
}


#header {
    height: 100%;
}

#wrapper {
    height: 100%;
    background-image: url('img/wrapper-1.jpg');
    background-position: center;
    background-size: cover;
    border-bottom: 1em solid rgb(214, 152, 163);
}
#content {
    height: 100%;
    width: 100%;
    display: table;

}

#content-box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#header img {
    width: 23em;
    display: inline;

}

#header p {
    font-size: 3em;
    font-weight: bolder;
    margin: 1em 0;
    color:  rgb(214, 152, 163);
}



#header p span.chic {
    color: antiquewhite;
}

#header p:hover {
    color: antiquewhite;
}


#header #content a {
    background-color: rgb(214, 152, 163);
    font-size: 4em;
    text-decoration: none;
    color: black;
    opacity: 0.6;
    padding: 0.15em 0.5em;
    border: 0.15em solid antiquewhite;
    border-radius: 10px;
}

#header #content a:hover {
    color: #000;
    background-color: antiquewhite;
    opacity: 1;
}


/* navbar  */

.navbar.navbar-default{
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    border: 0;
    padding: 1em;

}

ul.nav navbar-nav {
    color :rgb(214, 152, 163);

}


.navbar button {
    background-color:antiquewhite;
    border: 0.4em solid antiquewhite;
}

/* .navbar button:hover {
    background-color: rgb(214, 152, 163);
    color: rgb(214, 152, 163);
} */

.navbar-brand {
    color:#000 !important;
    font-weight: bolder;
    font-size: 4em;
}

.navbar a:not(.navbar-brand) {
    color:antiquewhite !important;
    font-weight: bolder;
    font-size: 2em;
    list-style: none;
}

.navbar a:hover {
    color: #000 !important;
}

/* Photos section  */

#photos {
    padding: 3em 2em;

}

.col-md-4 {
    position: relative;
}

#photos img {
    width: 100%;
    margin: 2em 0;
    border-radius: 2em;
    transition: all 2s ease-in-out;
    
}
#photos img:hover {
    opacity: 0.8;
    transform: scale(1.15);
}


#photos h2 {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
   color: antiquewhite;
   font-weight: bold;
    font-style: italic;
    font-size: 4em;
    display: none;
   
}

#photos .col-md-4:hover h2 {
    display: block;
    animation: chic 2s linear infinite;
    
}

@keyframes chic {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}


/* form & iframe  */

#form  {
    padding: 3em 2em ;
    
}

#form h1 ,h2 {
    color: rgb(214, 152, 163);
}

.form {
    background-color: #000;
    opacity: 0.6;
    padding: 2em 1em;
    height: 60em;
    
}

.form h2 {
    color: rgb(214, 152, 163);


}

.form p {
    color: aliceblue;
    font-size: 2em;
}
.form button {
    background-color: rgb(214, 152, 163);
    font-size: 3em;
}
.iframe {
    padding: 2em 1em ;
    height: 60em;
    background-color:rgb(214, 152, 163);
}

.iframe iframe {
    height: 40em;
}

/* footer */

footer .fa {
    color: rgb(214, 152, 163);
    font-size: 4em;
    transition : all 2s ease-out;

}

footer .fa:hover {
    color: antiquewhite;
}